<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SignatureEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SignatureEditor.Properties.Settings>
            <setting name="YearOfSignature" serializeAs="String">
                <value>2011</value>
            </setting>
            <setting name="ServerSigLocation" serializeAs="String">
                <value>.\Signatures\</value>
            </setting>
            <setting name="NewSigLocation" serializeAs="String">
                <value>.\New_Signature\</value>
            </setting>
            <setting name="NewSigImages" serializeAs="String">
                <value>.\New_Signature\Images\</value>
            </setting>
        </SignatureEditor.Properties.Settings>
    </userSettings>
</configuration>